<div *ngIf="bookmarks.length != 0" style="padding-top: 20px">
  <div class="card">
    <div *ngFor="let movie of bookmarks">
      <nb-card class="card">
        <nb-card-header class="title">{{ movie.Title }}</nb-card-header>
        <nb-card-body>
          <nb-list class="List">
            <nb-list-item>
              <img
                src="{{ movie.Poster }}"
                alt="{{ movie.Poster }}"
                class="img"
              />
            </nb-list-item>
          </nb-list>
          <nb-list class="List">
            <nb-list-item>
              <strong>Year: </strong> {{ movie.Year }}
            </nb-list-item>
            <nb-list-item>
              <strong>Type: </strong> {{ movie.Type | uppercase }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>

        <nb-card-footer>
          <button
            (click)="removeBookmark(movie.Title)"
            class="bookmarkButton"
            [ngClass]="{ active: movie.active }"
          >
            Remove Bookmark
          </button>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
