
.img{
  margin: 0;
  padding: 0;
  border-radius: 20px;
  height: 500px;
}

nb-card-front{
  display: flex;
  border: 0;
  border-radius: 10px;
  padding: 0;
}
.title{
  background-color: #3d53c5;
  color: #fff;
  text-align: center;
  font-size: xx-large;

}

.List{
 align-items: center;
 text-align: center;
 font-size: x-large;
}

.card{
  // padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  // margin-left: 15px;
  justify-content: space-around;
}
nb-card-footer {
  padding: 10px;
  padding-left: 20%;
}
.bookmarkButton{
  font-size:x-large;
  color: #ffffff;
  background-color: #3d53c5;
  padding: 0;
  width: 220px;
  height: 50px;
  border-radius: 10px;
}

