<!-- src/app/app.component.html -->

<div class="container">
    <div>
      <span class="navbar-brand" href="#">SPA Angular + Sanity </span>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a routerLink="/movies" class="nav-link active">Movies</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
      <h4 class="display-4">Best Selling Movies and A-List Actors</h4>
    </div>
    <router-outlet></router-outlet>
  </div>