.header{
  display: flex;
    justify-content: flex-end;
    flex: 1;
}

.title{
  flex: 1;

}
nb-layout-header{
  background-color: #3d53c5;
}


.button {
  background: #050505;
  border-radius: 5px;
  color: white;
  padding: 7px 17px;
  text-align: center;
  text-decoration: none ;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  margin-top: 30px;
  cursor:pointer;
}


