<nb-layout> //ng theme

  <nb-layout-header fixed>
    <div class="header">
      <div class="title">
        <h1><a routerLink="/MSearch" style="text-decoration: none; color:#fff">
          Search Movie App
        </a></h1>
      </div>
      <div>
        <a class="button"routerLink="/MSearch">
          Search
        </a>
        <a  class="button"routerLink="/Bookmark">
          Bookmark
        </a>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column style="padding: 0;" >
    <router-outlet ></router-outlet>
  </nb-layout-column>

  <nb-layout-footer >
    <p style="color: red; font-size: large;"> Arshdeep Singh | Demo</p>
  </nb-layout-footer>

</nb-layout>
