<div
  class="com-w-[36rem] com-mx-auto com-bg-secondary-100/50 com-rounded-xl com-shadow-xl com-overflow-hidden md:com-w-2xl com-mb-16 com-border com-border-gray-200 hover:com-shadow-2xl"
  *ngIf="movieData"
>
  <div class="md:com-flex">
    <div class="md:com-flex-shrink-0">
      <img
        class="com-h-96 com-w-56 com-object-cover"
        src="{{ movieData.Poster }}"
        alt="{{ movieData.Title }}"
      />
    </div>
    <div class="com-px-8 com-py-2 com-flex com-justify-between com-flex-col">
      <div
        class="com-uppercase com-tracking-wide com-text-3xl com-text-pink-500 com-font-semibold"
      >
        {{ movieData.Title }}
      </div>
      <!-- <p class="com-mt-2 com-text-gray-500 com-line-clamp-3">{{ movieData.Plot }}</p> -->
      <div class="com-mt-4">
        <ul class="movie-info">
          <li><strong>Type:</strong> {{ movieData.Type | titlecase }}</li>
          <li><strong>Director:</strong> {{ movieData.Director }}</li>
          <li><strong>Language:</strong> {{ movieData.Language }}</li>
          <li><strong>Release Date:</strong> {{ movieData.Released }}</li>
          <li><strong>Rating:</strong> {{ movieData.imdbRating }}</li>
        </ul>
      </div>
      <a>
        <button class="bookmarkButton">More</button>
      </a>
    </div>
  </div>
</div>
