input {
  margin-bottom: 10px;
  width: 90%;
  height: 40px;
  font-size: x-large;
}

button {
  float: right;
  width: 150px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  justify-content: space-around;
}
