<!-- <nb-card-front> -->
<div>
  <nb-card class="card">
    <nb-card-header class="title">{{ movie.Title }}</nb-card-header>
    <nb-card-body>
      <div class="poster">
        <img src="{{ movie.Poster }}" alt="{{ movie.Poster }}" class="image" />
      </div>
      <div class="com-flex com-flex-col">
        <p><strong>Type: </strong> {{ movie.Type | uppercase }}</p>
        <p><strong>Year: </strong> {{ movie.Year }}</p>
      </div>
    </nb-card-body>
    <nb-card-footer class="com-flex com-justify-center com-my-3">
      <button (click)="addBookmark(movie)" class="bookmarkButton">
        Add to Bookmark
      </button>
    </nb-card-footer>
  </nb-card>
</div>

<!-- </nb-card-front> -->
