<nb-card-front >
   <nb-card class="card" >
      <nb-card-header class="title" >{{movie.Title}}</nb-card-header>
        <nb-card-body>
            <nb-list class="List">
              <nb-list-item  >
                <img src="{{movie.Poster}}" alt="{{movie.Poster}}" class="img">
              </nb-list-item>
            </nb-list>
            <nb-list class="List">
              <nb-list-item>
                <strong>Year:   </strong>  {{ movie.Year }}
              </nb-list-item>
              <nb-list-item>
                <strong>Type:   </strong>   {{ movie.Type | uppercase }}
              </nb-list-item>
            </nb-list>
          </nb-card-body>
    <nb-card-footer >
      <button
      (click) = "bookmarkAdd(movie)"
      class="bookmarkButton"
      [ngClass]="{active : movie.active}">
        Add to Bookmark
      </button>
    </nb-card-footer>
  </nb-card>
</nb-card-front>


