<div class="com-w-full">
  <div class="search">
    <form class="com-flex" [formGroup]="inputForm" (ngSubmit)="onSubmit()">
      <input class="" placeholder="Search movies" formControlName="movie" />
      <button class="button">Search</button>
    </form>
  </div>

  <app-loading-animation *ngIf="isLoading"></app-loading-animation>

  <div class="card">
    <app-movie *ngFor="let movie of movies" [movie]="movie"> </app-movie>
  </div>
</div>

<div *ngIf="!moviesFound">
  <div class="com-flex com-items-center com-justify-center com-h-screen">
    <div class="com-text-gray-700 com-text-center">
      <h1 class="com-text-4xl com-font-bold com-mb-4">No Movies Found</h1>
      <p class="com-text-xl com-mb-4">
        We're sorry, but we couldn't find any movies that match your search
        criteria.
      </p>
      <p class="com-mb-4">
        Please try again with a different search term or check back later for
        updates.
      </p>
    </div>
  </div>
</div>
